<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON Editor</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.6/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/6.12.6/ajv.min.js"></script>
</head>
<body>
    <div id="jsoneditor" style="width: 800px; height: 400px;"></div>
    <br>
    <button onclick="upload()">Upload JSON</button>
    <button onclick="download()">Download JSON</button>
    <input type="file" id="fileInput">
    <br>
    <button onclick="uploadSchema()">Upload Schema</button>
    <input type="file" id="schemaInput">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.6/jsoneditor.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
